<h1>Listing Drugs</h1>

<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for drug <- @drugs do %>
    <tr>

      <td>
        <span><%= link "Show", to: Routes.drug_path(@conn, :show, drug) %></span>
        <span><%= link "Edit", to: Routes.drug_path(@conn, :edit, drug) %></span>
        <span><%= link "Delete", to: Routes.drug_path(@conn, :delete, drug), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Drug", to: Routes.drug_path(@conn, :new) %></span>
