<h1>New Administration</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.administration_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.administration_path(@conn, :index) %></span>
